In [14]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import cross_val_score

In [2]:
train = pd.read_csv("train.csv")

In [3]:
def clean_data(data):
    data["Fare"] = data["Fare"].fillna(data["Fare"].dropna().median())
    data["Age"] = data["Age"].fillna(data["Age"].dropna().median())
    
    data.loc[data["Sex"] == "male","Sex"] = 0
    data.loc[data["Sex"] == "female","Sex"] = 1
    
    data["Embarked"] = data["Embarked"].fillna("S")
    data.loc[data["Embarked"] == "S","Embarked"] = 0
    data.loc[data["Embarked"] == "C","Embarked"] = 1
    data.loc[data["Embarked"] == "Q","Embarked"] = 2

In [4]:
clean_data(train)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0

In [5]:
target = train["Survived"].values #y
feature_names = ["Pclass","Age","Sex","SibSp","Parch","Fare","Embarked"]
features = train[feature_names].values #X

In [11]:
decision_tree = DecisionTreeClassifier(random_state = 1, max_depth = 7,min_samples_split=2)
decision_tree.fit(features,target)
decision_tree.score(features,target)

0.8787878787878788

In [12]:
scores = cross_val_score(decision_tree, features, target, scoring='accuracy',cv = 50)
scores

array([0.77777778, 0.66666667, 0.77777778, 0.94444444, 0.83333333,
       0.88888889, 0.61111111, 0.83333333, 0.88888889, 0.88888889,
       0.72222222, 0.66666667, 0.83333333, 0.77777778, 0.72222222,
       0.83333333, 0.94444444, 0.72222222, 0.94444444, 0.83333333,
       0.88888889, 0.83333333, 0.83333333, 0.88888889, 0.88888889,
       0.83333333, 0.83333333, 0.83333333, 0.77777778, 0.88888889,
       0.72222222, 0.66666667, 0.88888889, 0.88888889, 0.83333333,
       0.77777778, 0.72222222, 0.66666667, 0.88888889, 0.77777778,
       0.83333333, 0.88888889, 0.88235294, 0.94117647, 0.82352941,
       0.70588235, 0.88235294, 0.88235294, 1.        , 0.9375    ])

In [13]:
scores.mean()

0.8244362745098038

In [15]:
export_graphviz(decision_tree,feature_names=feature_names,out_file="tree.dot")